{% extends 'layout.html.twig' %}


{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
{% if error %}
<div class="alert alert-danger">
    <strong>Login failed!</strong> {{ error }}
</div>
{% endif %}

<div class="container" style="margin-left:370px">
    <div class="col-md-4">
        <div class="panel panel-default panelperso">
            <h2 class="text-center centerperso">Login</h2>
    <form class="form-signin form-horizontal" role="form" action="{{ path('login_check') }}" method="post">
        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3 col-md-10 col-md-offset-1 colperso">
                <label>Username</label>
            <input type="text" name="_username" value="{{ last_username }}" class="form-control" placeholder="Enter username" required autofocus>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3 col-md-10 col-md-offset-1 colperso">
                <label>Password</label>
                <input type="password" name="_password" class="form-control" placeholder="Enter password" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 colperso">
                <button type="submit" class="btn btn-default btn-primary btnlogin"> Login</button>
            </div>
        </div>
    </form>
</div>
    </div>
</div>
{% endblock %}
